/*--------------------menu---------------------*/
ul li {
	list-style-type: none !important;
}

.menu {
	width: 100%;
	overflow:hidden;
}

.menu ul{
	width: 100%;
    padding: 5px 5px 5px 5px !important;
}

.menu ul li{
 	float: left;
	margin: 0 5px 10px 5px;	
}

.menu ul li a{
	color:white!important;
	text-decoration:none;
}

.menu ul li a:hover{
	text-decoration:underline;
}

/*------------------------filter--------------------------------*/
.filter{
    justify-content: center;
    display: flex;
    width: 100%;
	margin-top: 20px;
    margin-bottom: 20px;
}

	.filter div{
		margin-right:10px;
	}
	
		.filter div select,input{
			width:200px;
		}
		
	.filter .button-item {
		line-height: 18px;
		font-size: 15px;
		margin:0px;
	}
	
	.filter .button-item:hover {
		cursor:pointer;
	}
/*--------------------------------------------------------------*/
/*----------------------data table------------------------------*/
.data_table{
	width:100%;
	overflow:hidden;
}

.data_table table{
	width:100%;
	border-collapse: collapse;
}

	.data_table tr th{
		background: #a8a8a8;
	}

	.data_table tr th,td{
		padding-left:10px;
		padding-right:10px;
		word-wrap: break-word;
		text-align: center;
		border: 1px solid #607d8b;
	}

	.data_table .left_text{
		text-align: left;
	}

.ico_edit{
	color:#607d8b;
	margin-top:2px;
}

.ico_delete{
	color:red
}

.ico_edit,.ico_delete:hover{
	cursor:pointer;
}
/*-------------------------------------------------------------*/
.pagination_wrapper{
    max-width: 200px;
    margin: 0 auto;
	display: flex;
}
	.pagination_wrapper .page{
		margin:5px;
		border: 1px solid black;
		background-color: rgba(0,0,0,.12);
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 2px;
		padding-bottom: 2px;
		border-radius:2px;
		color:black;
		text-decoration:none;
		cursor:pointer;
	}
		
		.pagination_wrapper .page:hover{
			text-decoration:underline;
			font-weight:700;
		}
		
	.pagination_wrapper .current_page{
		background-color: #c3c1c1;
		font-weight:700;
	}
/*-------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	.top-content {
		height: 200px;
	}	
	.mask-top-content {
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
	}		
	.menu ul {
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;    

		order: 1;
		-webkit-order: 1;
		-moz-flex-order: 1;  

	}
	.menu ul li {
		flex: 1;
		-webkit-flex: 1;
		-moz-flex: 1;
	}
	
	.data_table tr th,td{
		font-weight:100;
		font-size:10pt;
		padding:0px;
	}
}
/*-------------------------------------------------------------*/