/*--------------------menu---------------------*/
ul li {
	list-style-type: none !important;
}

.menu {
	width: 100%;
	overflow:hidden;
}

.menu ul{
	width: 100%;
    padding: 5px 5px 5px 5px !important;
}

.menu ul li{
 	float: left;
	margin: 0 5px 10px 5px;	
}

.menu ul li a{
	color:white!important;
	text-decoration:none;
}

.menu ul li a:hover{
	text-decoration:underline;
}

/*------------------------filter--------------------------------*/
.filter{
    justify-content: center;
    display: flex;
    width: 100%;
}
/*--------------------------------------------------------------*/
/*----------------------data table------------------------------*/
.data_table{
	width:100%;
	overflow:hidden;
}
.data_table table{
	width:100%;
}
.data_table tr th,td{
	padding-left:10px;
	padding-right:10px;
	word-wrap: break-word;
}

/*-------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	.top-content {
		height: 200px;
	}	
	.mask-top-content {
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
	}		
	.menu ul {
		display: flex;
		display: -webkit-flex;
		display: -moz-flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;    

		order: 1;
		-webkit-order: 1;
		-moz-flex-order: 1;  

	}
	.menu ul li {
		flex: 1;
		-webkit-flex: 1;
		-moz-flex: 1;
	}
	
	.data_table tr th,td{
		font-weight:100;
		font-size:10pt;
		padding:0px;
	}
}
/*-------------------------------------------------------------*/