body, html {
    min-height: 100%;
    font-family: 'Open Sans',sans-serif;
	background-color: #fafafa !important;
}

body {
    margin: 0;
    padding: 0;
}

.container-header {
    height: 64px;
}

.container {
    height: 100%;
}

.logo {
	left: 50%;
	position: absolute;
}

.top-content{
	height: 120px;
	background-image: url(/template/images/5w.jpg);
}

.mask-top-content{
	background-color: #424242!important;
	opacity: .8;
    left: 0;
    height: 100%;
}

.content{
	overflow: hidden;
}

.middle-block {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
	color: #302f2f;
    background-color: #fff!important;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,.12);
	    margin-top: 15px;
}

.list-item{
    min-height: 81px;
    border-bottom: 1px solid rgba(0,0,0,.12);
	position: relative;
}

.list-item-wrapper{
    padding: 0 60px 0 16px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    min-height: 74px;
}

.list-item-wrapper h3 {
	cursor: pointer;
}

.mdi {
    display: inline-block;
    font: normal normal normal 24px/1 MaterialDesignIcons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
}

.mdi-close-circle-outline:before {
    content: "\f227";
}

.remove-button {
    padding: 17px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: -31px 0 0;
    width: 62px;
    height: 62px;
    position: absolute;
    top: 50%;
    right: -6px;
    outline: 0;
    cursor: pointer;
	font-size: 24px;
    line-height: 28px;
}

