.container-header {
    height: 64px;
}

.container {
    height: 100%;
}

.logo {
	left: 50%;
	position: absolute;
}

.top-content{
	height: 120px;
	background-image: url(/template/images/5w.jpg);
}

.mask-top-content{
	background-color: #424242!important;
	opacity: .8;
    left: 0;
    height: 100%;
}

.navbar{ background:#F97300;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f4; color: #f97300; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}
.navbar-collapse{
 justify-content: flex-end;
}

.btn {
	font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    padding: 6px 12px;
    border-width: 1px;
    border-style: solid;
	border-image: initial;
    margin-bottom: 5px;
	text-decoration: none;
}

.btn-primary {
    background-color: rgb(88, 205, 229);
    color: rgb(255, 255, 255);
    border-color: rgb(88, 205, 229);
}

.middle-block{
	width:400px;
	margin: 0 auto;
}