body, html {
    min-height: 100%;
    font-family: 'Open Sans',sans-serif;
	background-color: #fafafa !important;
}

body {
    margin: 0;
    padding: 0;
}

.container-header {
    height: 64px;
}

.container {
    height: 100%;
}

.logo {
	left: 50%;
	position: absolute;
}

.top-content{
	height: 120px;
	background-image: url(/template/images/5w.jpg);
}

.mask-top-content{
	background-color: #424242!important;
	opacity: .8;
    left: 0;
    height: 100%;
}

.content{
	overflow: hidden;
}

.middle-block {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
	color: #302f2f;
    background-color: #fff!important;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,.12);
	    margin-top: 15px;
}

.list-item{
    min-height: 81px;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.list-item-wrapper{
	cursor: pointer;
    padding: 0 60px 0 16px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    min-height: 74px;
}

.list-wrapper h3 {
    margin: 0 0 5px;
    line-height: 20px;
    padding-top: 20px;
    font-size: 16px;
    color: #302f2f!important;
}

